@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {}

header {
    background-image: url('/icon.svg');
    background-size: cover;
    position: relative;
    background-position: bottom;
    overflow-x: hidden;
}

.navbar-collapse {
    flex-grow: 0;
    padding-block: 2%;
}

.container-box {}

.container-fluid img {
    object-fit: scale-down;
}

.navbar-nav {
    gap: 20px;
}

.nav-link {
    color: white;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.log {
    border-color: beige;
    margin: 10px;
    color: white;
    padding-inline: 24px;
}

.log:hover {
    color: white;
}

.sign {
    border-color: white;
    background-color: white;
    padding-inline: 11px;
    /* padding-block: 0; */
    width: auto;
    height: 52%;
    margin-top: 10px;
    color: #5A72EA;
}

.sign:hover {
    color: white;
}

.nav-image {
    position: absolute;
    top: 25%;
    padding: 25px;
}

.box1 h1 {
    font-weight: 600;
    font-size: 72px;
    color: white;
    margin-bottom: 50px;
}

.container-box {
    margin-top: 5%;
}

.box1 p {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.nan-btn {
    gap: 5%;
    margin: 5px;
    color: white;
    padding-inline: 20px;
    padding-block: 8px;
}

.nav-btn1 {
    width: auto;
    color: #5A72EA;
    padding-inline: 40px;
    padding-block: 8px;
    border-radius: 15px;
    background-color: white;
}

.nav-btn2 {
    width: auto;
    color: white;
    border-color: #FFFFFF;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 15px;
}

.content-style {
    margin-top: 7%;
    display: flex;
    width: auto;
    margin-bottom: 6%;
    margin-left: -9%;
}

.nav-i {
    display: flex;
    align-items: baseline;
    margin: 5px;
    gap: 8px;
    padding: 0;
}

.nav-i p {
    margin-right: 22px;
    margin-top: 6%;
}

.nav-i i {
    color: #5A72EA;
}

.nav-box2 img {
    object-fit: scale-down;
    max-width: 600px;
    margin-left: 11%;
}

.Companies {
    margin-top: 10%;
}

.Companiesimg {
    text-align: center;
}

.Companies p {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 5%;
    text-align: center;
}

.process {
    text-align: center;
    margin-top: 10%;
}

.process h2 {
    font-weight: 600;
    font-size: 48px;
}

.process p {
    font-weight: 400;
    font-size: 18px;
}

.process-box {
    border-radius: 20px;
    margin: 20px;
    padding: 25px;
    margin-inline: 3%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.minebox h4 {
    margin-block: 15px;
}

.process-box:hover {
    box-shadow: 0px 10px 5px #8468B1;
}

.circle-left {
    width: 7%;
    margin-top: 43px;
}

.doublepremium {
    margin-bottom: 5%;
}

.doublepremium h2 {
    font-weight: 600;
    font-size: 48px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 37px;
}

.cdoublepremium-card {
    padding: 5%;
    gap: 4%;
}

.doublepremium p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.doublepremium-box {
    border: 1px solid #eee;
    border-radius: 15px;
    padding: 25px;
    flex: 1;
}

.btnBASIC {
    background-color: white;
    color: #5A72EA;
    border-color: #5A72EA;
    font-weight: 400;
    font-size: 16px;
    border-radius: 15px;
}

.doublepremium-prog p {
    font-weight: 400;
    font-size: 18px;
    padding-block: 10px;
}

.doublepremium {
    text-align: center;
}

.doublepremium p {
    font-weight: 400;
    font-size: 16px;
}

.doublepremium-btn {
    padding-inline: 20px;
    padding-block: 8px;
    background-color: #5A72EA;
    color: white;
    border-radius: 10px;
}

.doublepremium-i-list {
    display: flex;
    gap: 5px;
}

.btnjoin {
    background-color: white;
    color: #5A72EA;
    padding-inline: 32px;
    padding-block: 10px;
    border-radius: 10px;
}

.btnPREMIUM {
    border-color: #eee;
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding-inline: 20px;
    border-radius: 10px;
}

.box-scend {
    background-image: url('/asset/img/Rectangle\ 568.png');
    color: white;
    background-position: center;
    padding: 2%;
}

.Features {
    margin: 20px;
    margin-top: 11%;
}

h2 {
    font-weight: 600;
    font-size: 48px;
    text-align: center;
}

.Features p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5%;
    text-align: center;
}

.Features-card {}

.Features-box {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    flex: 1;
}

.Features-box:hover {
    box-shadow: 0px 10px 5px #8468B1;
}

.Features-box img {
    object-fit: scale-down;
    text-align: center;
    margin-bottom: 10px;
}

.Features-card h4 {
    padding-block: 5%;
    font-weight: 600px;
    font-size: 24px;
}

.Features-card p {
    font-weight: 400;
    font-size: 18px;
}

.btnExplore {
    font-size: 20px;
    font-weight: 500;
    margin-left: 40%;
    background-color: #5A72EA;
    margin-top: 41px;
    padding-inline: 17px;
    padding-block: 10px;
    border-radius: 15px;
}

.circel-right {
    width: 7%;
    right: 0;
    margin-bottom: -20%;
    overflow: visible;
    position: absolute;
    z-index: 1;
}

.clients {
    background-color: #D9DFFF;
    margin-top: 10%;
    background: linear-gradient(to right, #D9DFFF);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
    height: 100%;
}

.clients-box {
    margin-bottom: 30px;
}

.clients-box h2 {
    font-weight: 600;
    font-size: 48px;
    margin-top: 10px;
    text-align: center;
    padding-top: 54px;
}

.clients-box p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.carousel-indicators .clients-btn {
    border-radius: 50%;
    margin-bottom: 3%;
    width: 12px;
    height: 12px;
}

.carousel-item img {
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.carousel-item p {
    background-color: white;
    border-radius: 15px;
    padding: 19px;
    margin-bottom: 3%
}

.accordion-button::after {
    display: none;
}

.accordion-button::before {
    content: "-";
    font-size: 20px;
    margin-right: 10px;
    color: white;
    background-color: #5A72EA;
    border-radius: 50%;
    width: 24px;
    height: 25px;
    text-align: center;
}

.accordion-button:not(.collapsed) {
    background-color: white;
}

.started {
    background-image: url('/asset/img/img/Group\ 1358.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px;
    padding-bottom: 8%;
}

.started h2 {
    text-align: start;
    color: white;
    font-weight: 600;
    font-size: 48px;
    padding-block: 5px;
}

.started p {
    text-align: start;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5%;
    color: white;
}

.btnRegister {
    background-color: white;
    border-color: #eee;
    color: #5A72EA;
    width: 27%;
    border-radius: 15px;
}

.btnRegister:hover {
    background-color: white;
    border-color: #eee;
    color: #5A72EA;
}

.form-control {
    opacity: 0.5;
    padding: 14px;
    border-radius: 15px;
}

.question {
    text-align: center;
    margin-top: 7%;
}

.question h1 {
    font-weight: 600;
    font-size: 48px;
}

.question p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5%;
}

.accordion {
    border: 1px solid white;
    margin: 30px auto;
    border-radius: 15px;
    background-color: white;
}

.collapse {
    margin-left: 0;
}

.accordion-item h2 {
    margin-top: 0;
    padding-top: 0;
}

.circle-left2 {
    width: 7%;
    position: absolute;
    overflow: visible;
    z-index: 1;
    margin-top: -9%;
}

.footr-box img {
    object-fit: fill;
}

.footr-box p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 9%
}

.footr-card h4 {
    font-weight: 500;
    font-size: 24px;
    text-align: start;
    color: #5A72EA;
}

.footr-card p {
    font-weight: 400;
    font-size: 18px;
}

.last {
    background-color: #5A72EA;
    color: white;
    padding: 34px;
    text-align: center;
    margin-top: 2%;
}

.last-box {
    gap: 30px;
}

.last-foot {
    display: flex;
    justify-content: end;
    gap: 8%;
}

@media (max-width: 768px) {
    .nav-box2 {
        display: none;
    }
    .box1 h1 {
        font-weight: 300px;
        font-size: 40px;
    }
    .box1 p {
        font-weight: 200px;
        font-size: 15px;
    }
    .nav-btn1 {
        margin-bottom: 5px;
        padding-block: 13px;
    }
    .navbar-head {
        padding: 3%;
    }
    .doublepremium h2 {
        margin-top: 10%;
    }
    .box-scend {
        margin-top: 5%;
    }
    .doublepremium-btn {
        margin-bottom: 3%;
    }
    .btnjoin {
        margin-bottom: 3%;
    }
    .btnRegister {
        width: 50%;
    }
    .started h2 {
        font-weight: 300;
        font-size: 28px;
    }
}